* {
  font-family: "sofia-pro", sans-serif;
}

html,
body {
  background-color: var(--bg-color);
}

.basis {
  position: relative;
  width: 100%;
  margin-top: 6rem;
}

.image {
  position: absolute;
  width: auto;
  height: 70%;
  object-fit: cover;
  z-index: 0;
  transform: translate(85%, 15%);
}

.intro {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  align-items: top;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  gap: 2%;
}

.collageOverlay {
  position: relative;
  top: 15%;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .collageOverlay {
    position: relative;
    top: calc(10vh + 10px + 1rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .intro {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .intro p {
    width: 100%;
    margin: 0;
  }
}

.alles {
  position: relative;
  width: 100%;
}

.button {
  position: absolute;
  font-size: 15px;
  text-align: center;
  top: 95%;
  z-index: 99;
  width: 150px;
  height: 70px;
}

a,
button {
  text-decoration: none;
}

.containerfooter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: cenetr;
  bottom: 10%;
  width: 100%;
  z-index: 99;

  a {
    width: 15%;
    border: solid 2px;
    text-decoration: none;
    height: fit-content;
    padding-bottom: 0;
    border-radius: 30px;
  }
}

.container {
  position: fixed;
  bottom: 10%;
  width: 100%;
  z-index: 99;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
}

a:active {
  color: var(--text-color);
}
